<footer class="main-footer">
  <ul>
    <li><%= link_to('Home', root_path) %></li>
    <li><%= link_to('Services', services_path) %></li>
    <li><%= link_to('Portfolio', portfolio_path) %></li>
    <li><%= link_to('Blog', posts_path) %></li>
    <li><%= link_to('Contact', contact_path) %></li>
  </ul>
  <div class="footer-images">
    <%= image_tag('facebook.png', alt: 'Facebook') %>
    <%= image_tag('twitter.png', alt: 'Twitter') %>
    <%= image_tag('google.png', alt: 'Google Plus') %>
  </div>
  <p>
    Anti-copyright @ 2014 Project Bold. All rights unreserved.
  </p>
</footer>
