<section class="projects-banner">
  <div class="row">
    <div class="small-12 columns">
      <h2>Projects</h2>
      <p>
        Below are a few examples of the web design and development work we have done in the past. Feel free to check out our projects and explore our work. If you have any questions, or would like to see a website or web application of a specific type, send us a request and we will provide you with more examples.
      </p>
    </div>
  </div>
</section>

<section class="project-1-banner">
  <div class="row">
    <div class="large-6 columns">
      <%= image_tag('patchatech.png', alt: 'Patchatech Web Design') %>
    </div>
    <div class="large-6 columns">
      <h2>PatchaTech</h2>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      <a href="http://www.patchatech.com" target="_blank" class="button">Live Site</a>
    </div>
  </div>
</section>

<section class="project-2-banner">
  <div class="row">
    <div class="large-6 columns">
      <h2>ArgenCAD</h2>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      <a href="http://www.argencad.com" target="_blank" class="button">Live Site</a>
    </div>
    <div class="large-6 columns">
      <%= image_tag('argencad.png', alt: 'ArgenCAD Web Design') %>
    </div>
  </div>
</section>

<section class="project-3-banner">
  <div class="row">
    <div class="large-6 columns">
      <%= image_tag('project-bold.png', alt: 'Paroject Bold Web Design') %>
    </div>
    <div class="large-6 columns">
      <h2>Project Bold</h2>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      <a href="#" class="button">Live Site</a>
    </div>
  </div>
</section>

<section class="hire-banner">
  <div class="row">
    <div class="large-12-columns">
      <h2>Start a Project</h2>
      <p>
        Have an idea for a project or want to update your current website? Contact us today and see what we have to offer. We will provide consultation and work hard to get your website online and functional, and we garantee satisfaction. Call or message us today, we will give you free advice and, if a better option is out there, we will point you in the right direction.
      </p>
      <a href="#" class="button">Contact Us</a>
    </div>
  </div>
</section>
