<section class="projects-banner">
  <div class="row">
    <div class="small-12 columns">
      <h2>Projects</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
      </p>
    </div>
  </div>
</section>

<section class="project-1-banner">
  <div class="row">
    <div class="large-6 columns">
      <%= image_tag('patchatech.jpg', alt: 'Patchatech Web Design') %>
    </div>
    <div class="large-6 columns">
      <h2>PatchaTech</h2>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      <a href="#" class="button">Live Site</a>
    </div>
  </div>
</section>

<section class="project-2-banner">
  <div class="row">
    <div class="large-6 columns">
      <h2>ArgenCAD</h2>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      <a href="#" class="button">Live Site</a>
    </div>
    <div class="large-6 columns">
      <%= image_tag('argencad.jpg', alt: 'ArgenCAD Web Design') %>
    </div>
  </div>
</section>

<section class="project-3-banner">
  <div class="row">
    <div class="large-6 columns">
      <%= image_tag('project-bold.jpg', alt: 'Paroject Bold Web Design') %>
    </div>
    <div class="large-6 columns">
      <h2>Project Bold</h2>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      <a href="#" class="button">Live Site</a>
    </div>
  </div>
</section>

<section class="hire-banner">
  <div class="row">
    <div class="large-12-columns">
      <h2>Start a Project</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
      </p>
      <a href="#" class="button">Contact Us</a>
    </div>
  </div>
</section>
