<section class="blog-banner">
  <div class="row">
    <div class="large-12 columns">
      <h2>Project Bold Blog</h2>
      <% @posts.each do |post|  %>
        <h3><%= link_to(post.title, post_path(post.id)) %></h3>
        <div class="created-at"><%= post.created_at.strftime("%m/%d/%Y") %></div>
        <p><%= post.text.truncate(250) %></p>
      <% end %>
    </div>
  </div>
</section>
