/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */

body {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  color: #555;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0 0 20px 0;
	font-family: Oswald, Helvetica, Arial, sans-serif;
}

h2 {
  margin-bottom: 20px;
}

.center {
  text-align: center;
}

.created-at {
  color: tomato;
  font-size: 1.2em;
}

/* Navigation Styles */

.top-bar {
  height: 62px;
}

  .top-bar .title-area li.menu-icon {
    margin-top: -10px;
  }

  .top-bar .right li a {
    margin-top: 8px;
    font-family: 'Open Sans Condensed', Helvetica, Arial, sans-serif !important;
    text-transform: uppercase !important;
    font-size: 1.1em !important;
  }

  .top-bar .right li a:hover {
    background-color: transparent !important;
    border-bottom: 3px tomato solid;
  }

  .top-bar .title-area .name img {
    width: 150px;
    margin-top: 10px;
  }

/* Small Screen Navigation Styles */

@media only screen and (max-width: 40em) {
  .top-bar .right li a {
    margin-top: 0;
  }

  .top-bar .right li a:hover {
    background-color: #111 !important;
    border-bottom: none;
  }
}

/* Footer Styles */

.main-footer {
  background-color: #222;
  text-align: center;
  margin: 0;
  padding: 20px 0;
}

  .main-footer div {
    margin-bottom: 20px;
  }

  .main-footer p {
    color: #555;
  }

  .main-footer ul {
    list-style-type: none;
    padding: none;
    font-family: 'Open Sans Condensed', Helvetica, Arial, sans-serif;
    font-size: 1.2em;
    text-transform: uppercase;
  }

    .main-footer ul li {
      display: inline;
      padding: 10px 0;
    }

      .main-footer ul li a {
        padding: 10px;
        color: #fff
      }

      .main-footer ul li a:hover {
        border-bottom: 3px tomato solid;
      }
