// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.created-at {
  margin-bottom: 20px;
}

.blog-banner h3 a {
  font-weight: 100;
  color: #00aad4;
}

.blog-banner h3 a:hover {
  font-weight: 100;
  color: tomato;
}

.created-at {
  color: #999;
}

// Post Show Styles

.post-banner .content {
  margin-bottom: 20px;
}
