// General Site Styles

section[class$="banner"] {
  padding: 20px 0;
}

section[class$="banner"] a, section[class$="banner"] input[type="submit"] {
  font-family: 'Open Sans Condensed';
  text-transform: uppercase;
}

// Index Styles

.welcome-banner {

}

  .welcome-banner p {
    font-size: 1.2em;
  }

  .welcome-banner a[class="button"] {
    background-color: #00aad4;
    font-size: 1.2em;
  }

  .welcome-banner a[class="button"]:hover {
    background-color: tomato;
  }

.quote-banner {
  background-color: #222;
  color: #fff;
}

  .quote-banner h2 {
    color: #999;
  }

  .quote-banner span {
    color: tomato;
    font-family: Oswald;
    font-size: 1.5em;
  }

  .quote-banner form {
    margin-top: 50px;
  }

    .quote-banner form input[type="submit"] {
      background-color: tomato;
    }

    .quote-banner form input[type="submit"]:hover {
      background-color: #00aad4;
    }

.info-banner {
  background-color: #ccc;
  border-bottom: 3px #aaa solid;
}

  .info-banner img {
    float: left;
    margin-right: 10px;
  }

  .info-banner a[class="button"] {
    background-color: #999;
    width: 150px;
    margin-bottom: 30px;
  }

  .info-banner a[class="button"]:hover {
    background-color: #00aad4;
  }

.owner-banner {

}

  .owner-banner span {
    color: #00aad4;
  }

  .owner-banner img {
    width: 15%;
    float: left;
    margin-right: 20px;
  }

.contact-banner {
  background-color: #ccc;
  text-align: center;
  border-top: 3px #aaa solid;
}

  .contact-banner h2 {
    margin-bottom: 10px;
  }

  section.contact-banner a {
    font-family: Oswald;
    text-transform: none;
  }

// Services Styles

.technologies-banner {
  background: #222;
  color: #fff;
}

  .technologies-banner h2  {
    color: tomato;
  }

.employers-banner {
  background-color: #ccc
}

  .employers-banner a[class="button"] {
    background-color: #00aad4;
    font-size: 1.2em;
  }

  .employers-banner a[class="button"]:hover {
    background-color: tomato;
  }
