// General Site Styles

section[class$="banner"] {
  padding: 20px 0;
}

section[class$="banner"] a, section[class$="banner"] input[type="submit"] {
  font-family: 'Open Sans Condensed';
  text-transform: uppercase;
}

// Index Styles

.welcome-banner {

}

  .welcome-banner p {
    font-size: 1.2em;
  }

  .welcome-banner a[class="button"] {
    background-color: #00aad4;
    font-size: 1.2em;
  }

  .welcome-banner a[class="button"]:hover {
    background-color: tomato;
  }

.quote-banner {
  background-color: #222;
  color: #fff;
}

  .quote-banner h2 {
    color: #999;
  }

  .quote-banner span {
    color: tomato;
    font-family: Oswald;
    font-size: 1.5em;
  }

  .quote-banner form {
    margin-top: 50px;
  }

    .quote-banner form input[type="submit"] {
      background-color: tomato;
    }

    .quote-banner form input[type="submit"]:hover {
      background-color: #00aad4;
    }

.info-banner {
  background-color: #ccc;
  border-bottom: 3px #aaa solid;
}

  .info-banner img {
    float: left;
    margin-right: 10px;
  }

  .info-banner a[class="button"] {
    background-color: #999;
    width: 150px;
    margin-bottom: 30px;
  }

  .info-banner a[class="button"]:hover {
    background-color: #00aad4;
  }

.owner-banner {

}

  .owner-banner span {
    color: #00aad4;
  }

  .owner-banner img {
    width: 15%;
    float: left;
    margin-right: 20px;
  }

.contact-banner {
  background-color: #ccc;
  text-align: center;
  border-top: 3px #aaa solid;
}

  .contact-banner h2 {
    margin-bottom: 10px;
  }

  section.contact-banner a {
    font-family: Oswald;
    text-transform: none;
  }

// Services Styles

.services-header-banner p {
  font-size: 1.2em;
}

.services-header-banner img {
  margin-top: 25px;
}

.services-banner {
  background-color: #ccc;
  border-top: 3px #aaa solid;
}

.technologies-banner {
  background: #222;
  color: #fff;
}

  .technologies-banner h2  {
    color: tomato;
  }

.employers-banner {
  border-bottom: 3px #aaa solid;
}

  .employers-banner a[class="button"] {
    background-color: #00aad4;
    font-size: 1.2em;
  }

  .employers-banner a[class="button"]:hover {
    background-color: tomato;
  }

body .portfolio-banner {
  background-color: #ccc;
  padding-bottom: 0;
}

  .portfolio-banner span {
    font-family: Oswald;
    font-size: 1.5em;
  }

  .portfolio-banner a[class="button"] {
    margin-left: 15px;
    background-color: #00aad4;
    font-size: 1.2em;
  }

  .portfolio-banner a[class="button"]:hover {
    background-color: tomato;
  }

// Portfolio Styles

.projects-banner p {
  font-size: 1.2em;
}

.project-1-banner {
  background-color: #ccc;
  border-top: 3px #aaa solid;
}

  .project-1-banner .port-image {
    float: left;
  }

  .project-1-banner .port-content {
    float: right;
  }

  .project-1-banner a {
    background-color: #00aad4;
    margin-top: 20px;
    display: block;
    width: 150px;
  }

  .project-1-banner a:hover {
    background-color: tomato;
  }

.project-2-banner {
  background-color: #222;
  color: #fff;
}

  .project-2-banner h2 {
    color: #999;
  }

  .project-2-banner img {
    float: right;
  }

  .project-2-banner a {
    background-color: #00aad4;
    margin-top: 20px;
    display: block;
    width: 150px;
  }

  .project-2-banner a:hover {
    background-color: tomato;
  }

.project-3-banner {
  background-color: #ccc;
  border-bottom: 3px #aaa solid;
}

  .project-3-banner .port-image {
    float: left;
  }

  .project-3-banner .port-content {
    float: right;
  }

  .project-3-banner a {
    background-color: #00aad4;
    margin-top: 20px;
    display: block;
    width: 150px;
  }

  .project-3-banner a:hover {
    background-color: tomato;
  }

.hire-banner a {
  background-color: tomato;
  margin-top: 20px;
}

.hire-banner a:hover {
  background-color: #00aad4;
}

// Contact Styles

.contact-page-banner p {
  font-size: 1.2em;
}

.contact-page-banner input[type="submit"] {
  background-color: tomato;
  margin-top: 20px;
}

.contact-page-banner input[type="submit"]:hover {
  background-color: #00aad4;
}
